@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-family: 'Lato', sans-serif;

  --gradient-label : radial-gradient(circle at 3% 25%, rgba(217, 217, 217, 1) 1%, rgba(163, 163, 163, 1) 100%);
  --color-bg-product: #EAEAEA;
  --color-text: #000000;
  --color-subtext: #7B7B7B;
}