.dw__allLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 450px;
  background: var(--gradient-label);
}

.dw__allLabel_leftImg {
  display: flex;
}

.dw__allLabel_rightImg {
  display: flex;
}

.dw__allLabel_content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: var(--font-family);
}

.dw__allLabel_content h1 {

  margin-top: 8rem;
  font-size: 42px;
  font-weight: 650;
  text-align: center;
}

.dw__allLabel_content p {
  font-size: 18px;
  margin-top: 0.5rem;
  font-weight: 400px;
  text-align: center;
}


@media screen and (max-width:1050px) {

  .dw__allLabel {

    height: 350px;

  }

  .dw__allLabel_content h1 {

    margin-top: 5rem;
    font-size: 30px;
    font-weight: 650;

  }

  .dw__allLabel_content p {
    font-size: 15px;
    margin-top: 0.5rem;
    font-weight: 400px;
  }

  .dw__allLabel_content-button {
    height: 35px;
    width: 125px;
    font-size: 13px;
  }

}

@media screen and (max-width:550px) {

  .dw__allLabel {

    height: 250px;

  }

  .dw__allLabel_leftImg{
    display: none;
  }

  .dw__allLabel_content{
    margin-left: 1rem;
    margin-top: 1.25rem;
  }

  .dw__allLabel_content h1 {

    margin-top: 4rem;
    font-size: 18px;
    font-weight: 650;

  }

  .dw__allLabel_content p {
    display: none;
  }

  .dw__allLabel_content-button {
    height: 35px;
    width: 120px;
    font-size: 12px;
    margin-top: 1rem;
  }


  
}